<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        Diabetes Predictor
    {% endblock %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="https://noobscience.rocks/favicon.ico" type="image/x-icon">
</head>
<nav class="p-8 bg-green-300">
    <h1 class="text-6xl text-center font-bold">
        Diabetes Predictor
    </h1>
</nav>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>